:root{
    /*fonts*/
    --ml-fonts:Arial, Helvetica, "Nimbus Sans L", sans-serif;
    /*colors*/
    --ml-background:#FFE600;
    --ml-black:#333333;
    --ml-darkGray:#666666;
    --ml-lightGray:#999999;
    --ml-white:#EEEEEE;
    --ml-blue:#3483FA;
    /*logos*/
    --ml-logo387-338:url(https://http2.mlstatic.com/frontend-assets/homes-palpatine/logo_homecom_v2.png) no-repeat center center;
}